torch==2.7.1
torchvision==0.22.1
ultralytics==8.3.155
ultralytics-thop==2.0.14
tensorflow==2.19.0
mediapipe==0.10.9

opencv-python==4.11.0.86
pillow==11.2.1

numpy==1.26.4
pandas==2.3.0
scipy==1.15.3
matplotlib==3.10.3

PyYAML==6.0.2
huggingface_hub
